
<div class="row  mb-1 me-0 ms-0 custom-border ">
  <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1">
    <img src="assets/product.png" width="100px" height="100px" />
  </div>

  <!--detail article-->
  <div class="col-md-5 mb-1 mt-1 custom-border-right ">
    <div class="col">
      <div class="row ">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-phone"></i></div>
        <div class="col-md-11">+216 33 589 985</div>
      </div>

    </div>
  </div>


  <!-- detail categorie -->
  <div class="col-md-3 mb-1 mt-1 custom-border-right">
    <div class="col">
      <div class="row ">
        <div class="col-md-1"><i class="fa-solid fa-house-chimney"></i></div>
        <div class="col-md-11">Adresse1 adresse2</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-location-dot"></i>/div>
        <div class="col-md-11">12345 ville</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-earth-americas"></i></div>
        <div class="col-md-11">Pays</div>
      </div>

    </div>
  </div>

  <!-- button actions -->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row ">
      <div class="col-md-4"><button type="button" class="btn btn-link ">
        <i class="fa-solid fa-pencil"></i>&nbsp; Modifier</button></div>
      <div class="col-md-4"><button type="button" class="btn btn-link ">
        <i class="fa-solid fa-trash-can"></i>&nbsp; Supprimer</button></div>
      <div class="col-md-4"><button type="button" class="btn btn-link ">
        <i class="fa-solid fa-rectangle-list"></i>&nbsp; Details</button></div>
    </div>
  </div>

</div>
