<div class="row  mb-1 me-0 ms-0 custom-border ">

  <!--detail article-->
  <div class="col-md-3 mb-1 mt-1 custom-border-right ">
    <div class="col">
      <div class="row text-center">
        <div class="col-md-11">12.12.2022</div>
      </div>
    </div>
  </div>


  <!-- detail categorie -->
  <div class="col-md-3 mb-1 mt-1 custom-border-right">
        <div class="row">
          <div class="col-md-12 text-center">
            <h5>12</h5>
          </div>
        </div>
      </div>

  <div class="col-md-3 mb-1 mt-1 custom-border-right">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Sortie</h5>
      </div>
    </div>
  </div>

  <!-- button actions -->
  <div class="col-md-3 mb-1 mt-1 ">
    <div class="row text-center">
      <h5>COMMANDE_CLIENT</h5>

    </div>

  </div>

